spring:
  datasource:
    url: jdbc:postgresql://db.ognthxbffdrfrwjgheuz.supabase.co:5432/postgres
    username: postgres
    password: '$B8kBH&74b&Xbxg'
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    com.courseplatform: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
